
body {
  background-size:  cover;
  background-repeat: no-repeat;
  background-image: url(http://cdn.koreaboo.com/wp-content/uploads/2015/06/maxresdefault2.jpg);
}
h1 {
  font-family: 'Orbitron';
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat';
}